/*Home Menu*/
#menu-buttons-container, .menu-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#menu-buttons-container {
    margin: 10vh 4vh 4vh 4vh;

}

.menu-section {
    margin-top: 2.5rem;
}

/*Home Menu Sections*/
.menu-section {
}

/*Home Menu Individual Buttons*/
.menu-buttons {
    font-family: "Fasthand", cursive;
    font-weight: 400;      
    font-size: 2rem;
}
.menu-button {
    all: initial;
    font-family: "Fasthand", cursive;
    font-size: 2rem;
    margin: 0 ;
    padding: 0 ;
}
.menu-button a {
    color: var(--primary);
    text-decoration: none;
    margin: 0vh;
    padding: 0 1.5vh;
    color: rgb(83, 132, 200);

}

/*Media Querries*/

@media only screen and (max-width: 445px) {
    .menu-button a{
        font-size: 2rem;
      }
      #menu-buttons-container {
        margin: 3vh;
    
      }
    
}  

@media only screen and (min-width: 445px) {
    .menu-button a {
        font-size: 2rem;
    } 
    #menu-buttons-container {
        margin: 3vh;
    
      }
}

@media only screen and (min-width: 845px) {
    .menu-button a {
        font-size: 2.5rem;
    } 
    .menu-button {
        margin: 0.6rem;
    }
    #menu-buttons-container {
        margin: 10vh;
    
      }
}



