.learning-container {
    display: flex;
    margin-bottom: 2rem;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

.learning-container-left {
    position: relative;
    width: 20%;
    padding-left: 2rem;
}

.subject-menu {
    position: sticky;
    top: 4rem;
    display: flex;
    flex-direction: column;
}

.learning-menu-button {
    padding: 0.5rem;
    margin-bottom: 0.1rem;
}

.learning-container-right {
    width: 80%;
}